body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #73b2cd54;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Dancing Script', cursive;
  color: #fc633b;
  font-size: 100px;
  width: 50%;
  margin: AUTO;
  margin-top: 100px;
}

h2 {
  font-family: 'Amatic SC', cursive;
  color: #004279;
}

h2.clickableHeader {
  font-size: 75px;
  cursor: pointer;
}

h2.clickableHeader:hover {
  opacity: 50%;
}

h1.clickableHeader {
  font-size: 100px;
  cursor: pointer;
}

h1.clickableHeader:hover {
  opacity: 40%;
}

div.categoryDiv {
  display: inline-block;
  width: 50%;
  height: 1000px;
  background-color: #40719b;
  padding-top: 200px;
}

div.categoryDiv:hover {
  background-color: #6692B7;
  cursor: pointer;
}

div.categoryDiv:first-of-type {
  background-color: #bdd430;
}

div.categoryDiv:first-of-type:hover {
  background-color: #d1e855;
}

.MuiTab-root {
  text-transform: lowercase !important; 
} 

.MuiAppBar-colorPrimary {
  background-color: lightslategray !important;
}

.PrivateTabIndicator-colorSecondary-66 {
  background-color: lightsalmon !important;
}
.appContainer {
  margin: 200px;
}

textarea {
  width: 400px;
}

button.formButton {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 50px !important;
}

.backArrow {
  position: absolute;
  top: 10px;
  left: 30px;
  cursor: pointer;
}
